<!-- retval -->
<button (click)="retVal(this.r1Values,0,0)">asdasd
</button>


<!--button (click)="cargarValores()">set Values
</button-->

<button (click)="cargarTodos()">set Values 2
</button>

<div style="display: flex; flex-direction: row; margin: 40px; background-color: lightblue; border-radius: 5px;">
  <div style="display: flex; flex-direction: column;">
    <div style="height: 100px; width: 100px;  background-color: yellow; margin: 10px;">

    </div>
  </div>

</div>

<!--
  <div style="display: grid;
grid-template-columns: repeat(10, 1fr);
grid-auto-rows: auto;
column-gap: 0.5em;
row-gap: 0.5em;
margin-left: 10vw;
margin-right: 10vw;
">
  <div style="background-color: lightblue;
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 4;
  grid-auto-rows: 100px;
  "> 
    hola

  </div>
  <div style="background-color: lightblue;
  grid-column-start: 3; 
  grid-column-end: 7; 
  grid-row-start: 1;
  grid-row-end: 1;
  
  "> 
    hola

  </div>
  <div style="background-color: pink;
  grid-column-start: 3; 
  grid-column-end: 5; 
  grid-row-start: 2;
  grid-row-end: 4; ">
four
  </div>
</div>
-->

<div class="cardsDiv">
  <mat-card style="display: flex; flex-direction: column; background-color: lightblue;"> <!-- CARD WITH INFO  -->
    <mat-card-content>
      <mat-grid-list cols="10" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile colspan="2" rowspan="10">
          <h1 class="textHeadBold">IMPUESTO AL VALOR AGREGADO V4 - 1_20</h1>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft">Numero de Orden *</mat-label>
            <input matInput placeholder="" type="number">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft">RUC *</mat-label>
            <input matInput placeholder="" type="number">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft">DV *</mat-label>
            <input matInput placeholder="" type="number">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft"> Razón Social/Primer Apellido </mat-label>
            <input matInput placeholder="" type="text">
          </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft"> Segundo Apellido </mat-label>
            <input matInput placeholder="" type="text">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft">Nombres</mat-label>
            <input matInput placeholder="" type="text">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="4">




          <mat-radio-group>
            <mat-radio-button>
              <label class="textLeft">
                Declaración Jurada Original
              </label>
            </mat-radio-button>
            <mat-radio-button>
              <label class="textLeft">
                Declaración Jurada Rectificativa
              </label>
            </mat-radio-button>
            <mat-radio-button>
              <label class="textLeft">
                Declaración Jurada en Carácter de Cese de Actividades, Clausura o Cierre Definitivo
              </label>
            </mat-radio-button>
          </mat-radio-group>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <mat-form-field class="inputText">
            <mat-label class="textLeft"> Nro. de Orden de Declaración que se rectifica </mat-label>
            <input matInput placeholder="" type="number">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <mat-label class="textLeft">Periodo / Ejercicio Fiscal</mat-label>
          <!--datepicker-views-selection #picker class="inputDate"></datepicker-views-selection-->
          <mat-form-field style="margin-right: 30px; align-items: center; justify-content: center;">
            <input matInput placeholder="1_2_3" type="number">
          </mat-form-field>
          <mat-form-field style="margin-right: 30px;">
            <input matInput placeholder="1_2_3" type="number">
          </mat-form-field>


          <!--
          <mat-form-field class="inputText" appearance="fill">
              <mat-label class="textLeft">Periodo / Ejercicio Fiscal</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button class="button" mat-raised-button (click)="picker.open()"> Seleccionar </button>
            -->
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>



<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="1.5rem">
        <mat-grid-tile class="centered" colspan="1">PARA CONTRIBUYENTES QUE REALICEN OPERACIONES GRAVADAS Y EXONERADAS
          (INCLUIDAS LAS EXPORTACIONES)</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>


<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>

      <!--mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="5"-->
      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3"> <!-- RUBRO 1 -->

        <mat-grid-tile class="textTitle" colspan="6" rowspan="2">

          <div style="display: flex; justify-content: center; align-items: center;">
            <label class="textCentered"> RUBRO 1 - ENAJENACIÓN DE BIENES Y/O PRESTACIÓN DE SERVICIOS DEL PERIODO</label>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="4" rowspan="2">MONTO IMPONIBLE -I-</mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="4">IVA DEBITO</mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="2">AL 5% -II-</mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="2">AL 10% -III-</mat-grid-tile>



        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft"> Enajenación de bienes y/o prestación de servicios gravados con tasa del 10% </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2"> <!-- ingresar texto -->

          <input type="number" value="" #r1_1_1 id="r1_1_1" class="inputNEW">
          <!--
          <mat-form-field class="inputNumber">
            <input matInput type="number" value="" #r1_1_1 id="r1_1_1">
          </mat-form-field>
          -->
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2" style="background: rgb(231, 231, 231)">
          <input type="number" disabled="true" #r1_1_2 id="r1_1_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_1_3 id="r1_1_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="3">
          <label class="textLeft">Enajenación de productos agrícolas en estado natural
            y sus derivados del primer proceso de elaboración o
            industrialización gravados con tasa del 5%
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="3">
          <input type="number" value="" #r1_2_1 id="r1_2_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="3">
          <input type="number" value="" #r1_2_2 id="r1_2_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="3" style="background: rgb(231, 231, 231)">
          <input type="number" value="" #r1_2_3 id="r1_2_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">Enajenación de otros bienes y/o prestación de
            servicios gravados con tasa del 5%
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r1_3_1 id="r1_3_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_3_2 id="r1_3_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2" style="background: rgb(231, 231, 231)">
          <input type="number" value="" #r1_3_3 id="r1_3_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">Enajenación de bienes, prestación de servicios o
            ingresos exonerados o no alcanzados por el Impuesto
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r1_4_1 id="r1_4_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_4_2 id="r1_4_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_4_3 id="r1_4_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2.5">
          <label class="textLeft">Exportación de productos agrícolas en estado natural y
            sus derivados del primer proceso de elaboración o
            industrialización
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2.5">
          <input type="number" value="" #r1_5_1 id="r1_5_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2.5">
          <input type="number" value="" #r1_5_2 id="r1_5_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2.5">
          <input type="number" value="" #r1_5_3 id="r1_5_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">Prestación de Servicios de Flete Internacional para la
            exportación de bienes
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r1_6_1 id="r1_6_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_6_2 id="r1_6_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_6_3 id="r1_6_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">
            Exportación de otros bienes
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r1_7_1 id="r1_7_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_7_2 id="r1_7_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_7_3 id="r1_7_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2.5">
          <label class="textLeft"> Ajustes de precios, devoluciones realizadas,
            descuentos obtenidos y recupero de Impuestos por
            operaciones incobrables, declaradas a la tasa del 10%
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2.5">
          <input type="number" value="" #r1_8_1 id="r1_8_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2.5">
          <input type="number" value="" #r1_8_2 id="r1_8_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2.5">
          <input type="number" value="" #r1_8_3 id="r1_8_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="4.5">
          <label class="textLeft"> Ajustes de precios, devoluciones realizadas,
            descuentos obtenidos y recupero de Impuestos por
            operaciones incobrables, declaradas a la tasa del 5%,
            correspondientes a la adquisición de productos
            agrícolas en estado natural y sus derivados del primer
            proceso de elaboración o industrialización
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="4.5">
          <input type="number" value="" #r1_9_1 id="r1_9_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="4.5">
          <input type="number" value="" #r1_9_2 id="r1_9_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="4.5">
          <input type="number" value="" #r1_9_3 id="r1_9_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="3.5">
          <label class="textLeft"> Ajustes de precios, devoluciones realizadas,
            descuentos obtenidos y recupero de Impuestos por
            operaciones incobrables, declaradas a la tasa del 5%,
            correspondientes a la adquisición de otros bienes y
            servicios
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="3.5">
          <input type="number" value="" #r1_10_1 id="r1_10_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="3.5">
          <input type="number" value="" #r1_10_2 id="r1_10_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="3.5">
          <input type="number" value="" #r1_10_3 id="r1_10_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="3">
          <label class="textLeft"> Ajustes de precios, devoluciones realizadas,
            descuentos obtenidos y recupero por operaciones
            incobrables, exonerados o no alcanzados por el
            Impuesto
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="3">
          <input type="number" value="" #r1_11_1 id="r1_11_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="3">
          <input type="number" value="" #r1_11_2 id="r1_11_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="3">
          <input type="number" value="" #r1_11_3 id="r1_11_3" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textCenteredBold"> TOTAL
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r1_12_1 id="r1_12_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_12_2 id="r1_12_2" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r1_12_3 id="r1_12_3" class="inputNEW">
        </mat-grid-tile>



      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>

<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>

      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile class="textTitle" colspan="10" rowspan="2">
          <label class="textCentered"> RUBRO 2 - ENAJENACIÓN DE BIENES Y/O PRESTACIÓN DE SERVICIOS DE LOS ÚLTIMOS SEIS
            (6) MESES (INCLUIDO EL PERIODO QUE SE DECLARA) </label>
        </mat-grid-tile>


        <mat-grid-tile class="textTitle" colspan="4" rowspan="2">MONTO ACUMULADO</mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">

          <label class="textLeft"> Enajenación de bienes y/o prestación de servicios gravados en el mercado interno, con
            excepción de los
            productos agrícolas en estado natural </label>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_1_1 id="r2_1_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft"> Enajenación de productos agrícolas en estado natural y sus derivados del primer
            proceso de elaboración
            o industrialización en el mercado interno </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_2_1 id="r2_2_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft"> Enajenación de bienes y/o prestación de servicios exonerados o no alcanzados </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_3_1 id="r2_3_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeftBold"> TOTAL DE OPERACIONES EN EL MERCADO INTERNO </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_4_1 id="r2_4_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft"> Exportación de productos agrícolas en estado natural y sus derivados del primer
            proceso de elaboración o industrialización </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_5_1 id="r2_5_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft"> Servicios de flete internacional prestados por empresas transportadoras para la
            exportación de bienes </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_6_1 id="r2_6_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft"> Exportación de otros bienes </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_7_1 id="r2_7_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeftBold"> TOTAL DE OPERACIONES DE EXPORTACIÓN </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_8_1 id="r2_8_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeftBold"> TOTAL DE OPERACIONES ACUMULADAS </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r2_9_1 id="r2_9_1" class="inputNEW">
        </mat-grid-tile>


      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>


<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>

      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile class="textTitle" colspan="6" rowspan="2">

          <div style="display: flex; justify-content: center; align-items: center;">
            <label class="textCentered"> RUBRO 3 - COMPRAS LOCALES E IMPORTACIONES DEL PERIODO </label>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="4">MONTO IMPONIBLE </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="4" rowspan="2"> IVA CRÉDITO -III- </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="2">AL 5% -I-</mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="2">AL 10% -II-</mat-grid-tile>




        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft"> IVA Crédito atribuido directamente a operaciones gravadas en el mercado interno
          </label>

        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_1_1 id="r3_1_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_1_2 id="r3_1_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r3_1_3 id="r3_1_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">
            IVA Crédito atribuido indistintamente a operaciones gravadas, exoneradas o no alcanzadas
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_2_1 id="r3_2_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_2_2 id="r3_2_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r3_2_3 id="r3_2_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">
            IVA Crédito atribuido proporcionalmente a operaciones gravadas en el mercado interno
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_3_1 id="r3_3_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_3_2 id="r3_3_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r3_3_3 id="r3_3_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeft">
            IVA Crédito atribuido proporcionalmente a operaciones gravadas en el mercado interno y a exportación
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_4_1 id="r3_4_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_4_2 id="r3_4_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r3_4_3 id="r3_4_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2.5">
          <label class="textLeft">
            IVA Crédito por ajustes de precios, devoluciones y descuentos otorgados, por ventas ya declaradas y
            operaciones declaradas incobrables
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2.5">
          <input type="number" value="" #r3_5_1 id="r3_5_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2.5">
          <input type="number" value="" #r3_5_2 id="r3_5_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2.5">
          <input type="number" value="" #r3_5_3 id="r3_5_3" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="6" rowspan="2">
          <label class="textLeftBold">
            TOTAL DE IVA CRÉDITO PARA OPERACIONES EN EL MERCADO INTERNO
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_6_1 id="r3_6_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="2" rowspan="2">
          <input type="number" value="" #r3_6_2 id="r3_6_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r3_6_3 id="r3_6_3" class="inputNEW">
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>


<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>
      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile class="textTitle" colspan="10" rowspan="2">
          <label class="textCentered">
            RUBRO 4 - DETERMINACIÓN DEL IMPUESTO O DEL SALDO TÉCNICO
          </label>
        </mat-grid-tile>


        <mat-grid-tile class="textTitle" colspan="4" rowspan="2">MONTO </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">

          <label class="textLeft">
            IVA Débito
          </label>

        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_1_1 id="r4_1_1" class="inputNEW">
        </mat-grid-tile>


        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft">
            IVA Crédito
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_2_1 id="r4_2_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft">
            Saldo a favor del contribuyente del período anterior por operaciones en el mercado interno
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_3_1 id="r4_3_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeftBold"> SALDO A FAVOR DEL CONTRIBUYENTE </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_4_1 id="r4_4_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft">
            Saldo a favor del contribuyente a remitir en beneficio del Fisco
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_5_1 id="r4_5_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeftBold">
            SALDO A FAVOR DEL CONTRIBUYENTE
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_6_1 id="r4_6_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft">
            Saldo a favor del fisco
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_7_1 id="r4_7_1" class="inputNEW">
        </mat-grid-tile>



        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeft">
            Monto del IVA Crédito utilizado en el periodo que se liquida para operaciones gravadas
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_8_1 id="r4_8_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2.5">
          <label class="textLeft">
            Deducción conforme al Art. 7° y 8° de la Ley N° 4.96_2/201_3 por incorporación de personas con
            discapacidad y en concepto de gastos y costos por adecuación del entorno físico, tecnológica, etc. y
            contratación de facilitadores laborales (No trasladable)
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2.5">
          <input type="number" value="" #r4_9_1 id="r4_9_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="10" rowspan="2">
          <label class="textLeftBold">
            IMPUESTO DETERMINADO
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2">
          <input type="number" value="" #r4_10_1 id="r4_10_1" class="inputNEW">
        </mat-grid-tile>


      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>

<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>
      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile class="textTitle" colspan="8" rowspan="2">
          <label class="textCentered"> RUBRO 5 - IMPUESTO DETERMINADO Y/O SALDO FINANCIERO A FAVOR DEL CONTRIBUYENTE
          </label>
        </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="6">MONTO A FAVOR DEL </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="3"> CONTRIBUYENTE -I-</mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="3"> FISCO -II- </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft"> Impuesto determinado para operaciones gravadas </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_1_1 id="r5_1_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_1_2 id="r5_1_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft"> Saldo a favor del contribuyente del período anterior </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_2_1 id="r5_2_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_2_2 id="r5_2_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft"> Retenciones computables por operaciones gravadas </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_3_1 id="r5_3_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_3_2 id="r5_3_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft"> Percepciones computables por operaciones gravadas </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_4_1 id="r5_4_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_4_2 id="r5_4_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft"> Multa por presentar la Declaración Jurada con posterioridad al vencimiento </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_5_1 id="r5_5_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_5_2 id="r5_5_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeftBold"> SUBTOTALES </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_6_1 id="r5_6_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_6_2 id="r5_6_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeftBold"> SALDO A FAVOR DEL CONTRIBUYENTE </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_7_1 id="r5_7_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_7_2 id="r5_7_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeftBold"> SALDO A PAGAR A FAVOR DEL FISCO </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_8_1 id="r5_8_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r5_8_2 id="r5_8_2" class="inputNEW">
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>


<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>
      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile class="textTitle" colspan="8" rowspan="2">
          <label class="textCentered">
            RUBRO 6 - INFORMACIÓN DE LAS COMPRAS DEL PERIODO,
            VINCULADAS A OPERACIONES EXONERADAS O NO ALCANZADAS POR EL IMPUESTO
          </label>
        </mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="3" rowspan="2"> MONTO -I-</mat-grid-tile>
        <mat-grid-tile class="textTitle" colspan="3" rowspan="2"> IVA -II- </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Compras con IVA Crédito del 10% relacionadas directamente a operaciones
            exoneradas o no alcanzadas por el Impuesto
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_1_1 id="r6_1_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_1_2 id="r6_1_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Compras con IVA Crédito del 5% relacionadas directamente a operaciones
            exoneradas o no alcanzadas por el Impuesto
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_2_1 id="r6_2_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_2_2 id="r6_2_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Compras exentas relacionadas a operaciones exoneradas, no alcanzadas y a exportaciones
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_3_1 id="r6_3_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_3_2 id="r6_3_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Compras exentas relacionadas a operaciones exoneradas o no alcanzadas por el Impuesto
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_4_1 id="r6_4_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_4_2 id="r6_4_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Ajustes de precios, descuentos otorgados y/o devoluciones recibidas, por
            enajenación de bienes o prestación de servicios exonerados o no alcanzados por
            el Impuesto
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_5_1 id="r6_5_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_5_2 id="r6_5_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Impuesto al Valor Agregado - Costo o Gasto deducible en el IRE o IRP
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_6_1 id="r6_6_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_6_2 id="r6_6_2" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="8" rowspan="2">
          <label class="textLeft">
            Impuesto al Valor Agregado - Costo o Gasto por remisión del saldo IVA Crédito al
            fisco, no deducible en el IRE o IRP
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_7_1 id="r6_7_1" class="inputNEW">
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2">
          <input type="number" value="" #r6_7_2 id="r6_7_2" class="inputNEW">
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>



<div class="cardsDiv">
  <mat-card class="card"> <!-- CARD WITH INFO  -->
    <mat-card-content>
      <mat-grid-list cols="14" rowHeight="1.8rem" gutterSize="3">

        <mat-grid-tile colspan="14" rowspan="2">
          <label class="textFooter">
            El que suscribe
          </label>

          <mat-form-field class="inputText">
            <input matInput placeholder="" type="text">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="7" rowspan="2">
          <label class="textFooter">
            En su carácter de
          </label>

          <mat-form-field class="inputText">
            <input matInput placeholder="" type="text">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="7" rowspan="2">
          <label class="textFooter">
            con Documento No.
          </label>

          <mat-form-field class="inputText">
            <input matInput placeholder="" type="number">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="14" rowspan="2">
          <label class="textLeft">
            Declara que los datos consignados en este formulario son correctos, íntegros, verdaderos y han sido
            confeccionados sin omitir dato alguno
          </label>
        </mat-grid-tile>

        <mat-grid-tile colspan="7" rowspan="2">
          <label class="textFooter">
            Lugar
          </label>

          <mat-form-field class="inputText">
            <input matInput placeholder="" type="text">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="7" rowspan="2">
          <label class="textFooter">
            Fecha
          </label>

          <mat-form-field class="inputText" appearance="fill">
            <mat-label class="textLeft">Selecciona una Fecha</mat-label>
            <input matInput [matDatepicker]="picker2">

            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <button class="button" mat-raised-button (click)="picker2.open()">Seleccionar</button>

        </mat-grid-tile>


        <mat-grid-tile colspan="7" rowspan="6">
          <label class="textFirma">
            Firma
          </label>
        </mat-grid-tile>


        <mat-grid-tile colspan="7" rowspan="6">
          <label class="textFirma">
            CERTIFICACIÓN O SELLO DE RECEPCIÓN
          </label>
        </mat-grid-tile>




        <mat-grid-tile colspan="14" rowspan="2">
          <label class="textLeft">
            Estimado Contribuyente: Le recordamos que los pagos que efectúe emergentes de esta declaración, serán
            imputados en su cuenta
            corriente conforme a lo señalado en la Ley N° 1_25/199_1, Art. 16_2.
          </label>
        </mat-grid-tile>


      </mat-grid-list>

    </mat-card-content>
  </mat-card>
</div>