
.labelRubro {
  font-size: 13px;
  font-weight: bold;
}

.gridHeight_r1 {
  height: 800px;
}

.gridHeight_r2 {
  height: 420px;
}

.gridHeight_r3 {
  height: 450px;
}

.gridHeight_r4 {
  height: 550px;
}

.gridHeight_r5 {
  height: 500px;
}

.gridHeight_r6 {
  height: 500px;
}

.gridHeight_footer {
  height: 600px;
}

/*
mat-mdc-input-element ng-tns-c2608167813-0 mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored
*/


@media screen and (min-width: 1001px) {
  /* If the screen size is 901px wide or more, set the font-size to ...px */
  .labelRubro {
    font-size: 14px;
    line-height: 1.5;
  }

}

@media screen and (max-width: 1000px) {
  /* If the screen size is 900px wide or less, set the font-size to ...px */
  .labelRubro {
    font-size: 10px;
  }

  label {
    font-size: 11px;
    line-height: 1;
    /*text-wrap:pretty;*/

  }

  mat-label {
    font-size: 12px;
    /*text-wrap:pretty;*/
  }

  input { /* numeros en grid auto*/
    font-size: 8px;
  }

}


@media screen and (max-width: 650px) {
  /* If the screen size is 900px wide or less, set the font-size to ...px */
  .labelRubro {
    font-size: 8px;
  }

  label {
    font-size: 9px;
    line-height: 1;
    /*text-wrap:pretty;*/

  }

  mat-label {
    font-size: 8px;
    /*text-wrap:pretty;*/
  }

}

.divMargin {
  margin: 5px;
}

.base{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

@media print {

  #separator{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 100%;
    height: 85px;
  }

  #separator2{
    display: flex !important;
    height: 35px;

  }

  .divMargin {
    margin: 0;
  }

  .cardsDiv {
    border-style: none;
    border-width: 0;
    border-color: white;
  }

  .gridHeight_r1 {
    height: 400px;
  }

  .gridHeight_r2 {
    height: 250px;
  }

  .gridHeight_r3 {
    height: 200px;
  }

  .gridHeight_r4 {
    height: 250px;
  }

  .gridHeight_r5 {
    height: 210px;
  }

  .gridHeight_r6 {
    height: 300px;
  }

  .footerDiv {
    height: 200px;
  }

  .gridHeight_footer {
    height: 250px;
  }

  .labelRubro { /* h  del rubro*/
    font-size: 8px;
    line-height: 1.3;
  }

  label { /* texto rubros*/
    line-height: 1;
    font-size: 8px;


    /*line-height: 1px;*/
  }

  mat-label {
    font-size: 12px;

  }

  input { /* numeros en grid auto*/
    font-size: 8px;
  }

  mat-input { /* texto */
    font-size: 6px;
  }

  span {
    font-size: 10px;
    /*text-wrap:pretty;*/
  }


  .textLeft {
    margin: 0px;
    /*line-height: 1;*/
    /*font-size: 1vw ;*/
  }


  /*items to hide when printing*/
  #botones {
    display: none;
  }

  #botones_test {
    display: none;
  }


  /*  background: rgb(231, 231, 231)*/

}

/*
elementos centrados por default
usar width para acomodar otros.
*/

/*
@media print{
  div{
      background-color: #FFFFFF;
  }
}
*/
::ng-deep .mdc-text-field--disabled {
  background-color: rgba(211, 211, 211, 0.452) !important;
  /*outline: 1px solid red;  */
}

.inputNEW {
  background-color: rgba(0, 136, 255, 0);
  border-color: lightgray;
  border-width: 1px;
  width: 90%;
  height: 70%;
  margin: 5px;
  padding: 0 16px;
}

.inputNEWNumber {
  background-color: rgba(240, 248, 255, 0);
  border-color: white;
  border-width: 0;
  width: 100%;
  height: 100%;
  /*margin: 5px;*/
  padding: 0 5%;
  text-align: end;

}


.mat-mdc-card-content {
  padding: 8px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.centered {
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* erase increment and decrement from input number field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.card {

  background: lightblue;
  display: flex;
  flex-direction: column;
}

.tile {
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  background: white;


  text-align: left;
  /*align-items: center; justify-content: flex-start;*/
}


.textTitle {
  background: #e4f4f4;
  width: 100%;
  font-weight: bold;
  /*
  /*font-size: 1vw;*/
}

.cardsDiv {

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  /*max-width: 1920px;*/
  min-width: 400px;
  /*margin-top: 10px*/
  /*margin-top: 1rem;*/
  border-style: solid;
  border-width: 1px;
  border-color: lightblue
}

.textCentered {
  justify-content: center;
  align-items: center;
  /*text-wrap: balance;
  text-align: center;
  margin: 4%;*/
  /*font-size: 1vw;*/
}

.textHeadBold {

  text-align: center;
  margin: 5px;
  font-weight: bold;
  width: 100%;
  /*font-size: 1.5vw;*/
}

.textHead {

  text-align: left;
  margin-left: 4%;
  margin-right: 2%;
  /*font-size: 1vw;*/

}

.button {
  margin-left: 3%;
  margin-right: 3%;

  text-align: left;
  margin: 1rem;
  /*font-size: 1vw ;*/
}

.textFooter {
  text-align: left;
  margin-left: 1vw;
  margin-right: 1vw;
  text-wrap: nowrap;
  /*font-size: 1vw;*/
}

.textLeft {

  text-align: left;
  margin: 5px;
  line-height: 1.1;
  width: 100%;

  /*font-size: 1vw ;*/

}


.textLeftBold {
  text-wrap: balance;
  text-align: left;
  margin: 5px;
  line-height: 1.1;
  width: 100%;
  font-weight: bold;
  /*font-size: 1vw;*/
}

.inputNumber {

  padding: 6%;
  height: 80%;
  width: 100%;
  line-height: 1.25;
}

.separator {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  width: 100%;
  height: 75px;

}

.footerDiv {
  height: 1px;

}

.inputText {
  padding: 1%;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  width: 100%;
  /*font-size: 1vw;*/
}

.textFirma {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  /*font-size: 1vw;*/
  text-decoration: underline;
}


.inputDate {

  width: 80%;
  margin-bottom: -3vh;
  padding: 1%;
  height: 4.8rem;
  /*font-size: 1vw;*/
}
