@media print {
	label {
		font-size: 10px;
    text-wrap:pretty;
	}
  mat-label{
    font-size: 8px;
    text-wrap:pretty;
  }
  span{
    font-size: 10px;
    text-wrap:pretty;
  }
  
  /*items to hide when printing*/
  #botones {
    display: none;
  }
  
  /*  background: rgb(231, 231, 231)*/
  
}

/*
elementos centrados por default
usar width para acomodar otros.
*/

/*
@media print{    
  div{
      background-color: #FFFFFF;
  }
}
*/
::ng-deep .mdc-text-field--disabled {
  background-color: rgba(211, 211, 211, 0.452) !important;
  /*outline: 1px solid red;  */
}

.inputNEW {
  background-color: rgba(0, 136, 255, 0);
  border-color: lightgray;
  border-width: 1px;
  width: 90%;
  height: 70%;
  margin: 5px;
  padding: 0 16px;
}
.inputNEWNumber {
  background-color: rgba(240, 248, 255, 0);
  border-color: lightgray;
  border-width: 1px;
  width: 90%;
  height: 70%;
  margin: 5px;
  padding: 0 16px;
  text-align: end;
}



.mat-mdc-card-content {
  padding: 8px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.centered {
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* erase increment and decrement from input number field */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.card {
  
  background: lightblue;
  display: flex; 
  flex-direction: column;
}

.tile{
  border-style: solid;
  border-width: 1px;
  border-color:lightblue;
  background: whitesmoke;

  text-wrap: pretty;
  text-align: left;
  /*align-items: center; justify-content: flex-start;*/
}


.textTitle {
  background: #e4f4f4;
  width: 100%;
  font-weight: bold;
  /*text-wrap: pretty;
  /*font-size: 1vw;*/
}

.cardsDiv {

  margin-left: 5%;
  margin-right: 5%;
  ;
  /*margin-top: 10px*/
  /*margin-top: 1rem;*/
  border-style: solid;
  border-width: 1px;
  border-color: lightblue
}

.textCentered {
  justify-content: center;
  align-items: center;
  /*text-wrap: balance;
  text-align: center;
  margin: 4%;*/
  /*font-size: 1vw;*/
}

.textCenteredBold {
  text-wrap: pretty;
  text-align: center;
  margin: 4%;
  font-weight: bold;
  width: 100%;
  /*font-size: 1vw;*/
}

.textHeadBold {
  text-wrap: pretty;
  text-align: center;
  margin: 4%;
  font-weight: bold;
  width: 100%;
  /*font-size: 1.5vw;*/
}

.textHead {
  text-wrap: pretty;
  text-align: left;
  margin-left: 4%;
  margin-right: 2%;
  /*font-size: 1vw;*/

}

.button {
  margin-left: 3%;
  margin-right: 3%;
  text-wrap: pretty;
  text-align: left;
  margin: 1rem;
  /*font-size: 1vw ;*/
}

.textFooter {
  text-align: left;
  margin-left: 1vw;
  margin-right: 1vw;
  text-wrap: nowrap;
  /*font-size: 1vw;*/
}

.textLeft {
  text-wrap: pretty;
  text-align: left;

  margin: 12px;
  width: 100%;
  line-height: 1.25;
  /*font-size: 1vw ;*/

}


.textLeftBold {
  text-wrap: balance;
  text-align: left;
  margin: 1rem;
  width: 100%;
  font-weight: bold;
  /*font-size: 1vw;*/
}

.inputNumber {
  
  padding: 6%;
  height: 80%;
  width: 100%;
  line-height: 1.25;
}

.inputText {
  text-wrap: pretty;
  
  padding: 1%;
  height: 80%;
  width: 100%;
  /*font-size: 1vw;*/
}

.textFirma {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  /*font-size: 1vw;*/
  text-decoration: underline;
}


.inputDate {
  text-wrap: pretty;
  width: 80%;
  margin-bottom: -3vh;
  padding: 1%;
  height: 4.8rem;
  /*font-size: 1vw;*/
}