mat-grid-tile {
    
  background: whitesmoke;
}

/* erase increment and decrement from input number field */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


.card{
  background: lightblue
  
}



  .textTitle{
    background: #e4f4f4;
    width: 100%;
    font-weight: bold;
    text-wrap: pretty;
  }
  
.cardsDiv{
  
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  
  
}
.textCentered{
  text-wrap:balance;
  text-align: center;
  margin: 4%;
}

.textCenteredBold{
  text-wrap:pretty;
  text-align: center;
  margin: 4%;
  font-weight: bold;
  width: 100%;
}

.textHead{
  text-wrap:pretty;
  text-align: center;
  margin-left: 1rem;
  margin-right: 2%;
  /*
  height: 100%;
  width:100%;
  text-align: center;
  
  text-wrap:balance;
  line-height: 12pt;
  */
  
}

.textFooter{
  text-align: left;
  margin-left: 1rem;
  margin-right: 2%;
  text-wrap:nowrap;
  
}

.textLeft{
  text-wrap:pretty;
  text-align: left;
  margin: 1rem;
  width: 100%;
}

.textLeftBold{
  text-wrap:balance;
  text-align: left;
  margin: 1rem;
  width: 100%;
  font-weight: bold;
}
  .inputNumber{
    
    margin-bottom: -1.4em;
    padding: 6%;
    height: 4.8rem;
    width: 100%;
  }

  .inputText{
    
    margin-bottom: -1.4em;
    padding: 1%;
    height: 4.8rem;
    width: 100%;
  }

  .textFirma{
    height: 80%;
    width: 100%;
    position: relative;
    display:flex;
    justify-content: center;
    /*
    vertical-align: bottom;
    line-height: 100%;
    position: relative;
    display:flex;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
    */
    
  }
 
  .textSello{
    height: 90%;
    width: 100%;
    position: relative;
    display:flex;
    justify-content: center;
  }


 

  
  

/*
button {
    margin: 3%;
}


div{
    margin: 3%;
}

mat-card {
    margin: 3%;
}
*/

/*
body[ng-cloak] {
    display:none;
  }
  body {
      background-color: #FEEBC8;
  }
  div[flex="30"] {
    background-color: #DFDFDF;  
  }
  
  section[flex="40"] {
    background-color: #D4E5FA;
  }
  section[flex="70"] {
    background-color: #E8FCD6;
  }
  section[flex="20"] {
   background-color: #FFD5E3;
  }
  section[flex=""] {
   background-color: rgba(0, 128, 0, 0.35);
  }
  
  
  /* Important to set height for column layout */
  /*
  .boxWithHeight {
    box-sizing: border-box;
    height: 100%;
  }
  
  .a, section {
    border: 5px solid rgba(85, 97, 85, 0.27);
    margin: 5px;  
  }
  
  section {
    background-color: #dedede;
  }
  */
  /*
  Copyright 2016-2018 Google Inc. All Rights Reserved. 
  Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://material.angularjs.org/latest/license.
  */